@model IEnumerable<Solution.Domain.Entities.Produit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>








<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Objet_a_vendre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code_a_barre)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Objet_a_vendre)
                </td>
                <td>
                    @{string path = "~/Content/Upload/" + @item.Image;}
                    @*enlever label for pour afficher seulement l'image*@
                    <img src="@Url.Content(path)" width="50" height="50" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code_a_barre)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    <tbody>
</table>
<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts {
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}